.title {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.actor-form {
    width:250px;
}

.error {
  color: red;
}

